:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
    width: 100%;
}
ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}
/* ------------CABECERA-------------- */

.cabecera {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-de-fondo-menu);
}
.navegacion__lista {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.cabecera__titulo {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-left: 7.2rem;
}
.navegacion__elemento a {
    font-size: 0.9rem;
}
.navegacion {
    margin-right: 30px;
}
/* ----------PRESENTACION--------- */
.presentacion__foto {
    border-radius: 50%;
    width: 30%;
    height: 30%;
    margin: 32px 0;
}
.presentacion {
    display: flex;
    width: 100%;
    align-items: center;
}
.presentacion__contenedor {
    gap: 30px;
}
.presentacion__titulo {
    font-size: 3rem;
    line-height: 3rem;
}

.presentacion__subtitulo {
    font-size: 1.5rem;
}

.redes {
    width: 100%;
    margin: 0 0 32px 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    font-weight: bold;
}

/* --------------SUBTITULOS--------------- */
.sobre-mi__titulo, .habilidades__titulo, .aficiones__titulo, .formacion__titulo, .proyectos__titulo, .contacto__titulo
{
    font-size: 2rem;
}

/* ---------------ICONOS------------------ */
.habilidades__lista, .aficiones__lista, .formacion__lista{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.habilidades__icono, .aficiones__icono {
    width: 5rem;
    height: 5rem;
}

/* ------------SOBRE MI------------------ */
.presentacion__contenedor, .sobre-mi {
    margin: 32px 32PX 0 152px;
}

/* -------------HABILIDADES--------------- */
.habilidades__titulo, .aficiones__titulo, .formacion__titulo {
    margin-bottom: 40px;
}
.habilidades, .aficiones, .proyectos{
    margin: 32px 152px 0 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habilidades__elemento, .aficiones__elemento{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* -------------FORMACIÓN--------------- */
.formacion, .proyectos{
    margin: 82px 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formacion__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1rem;
}
.formacion__icono {
    width: 10rem;
    border-radius: 50%;
}
.formacion__lista {
    justify-content: space-between;
    gap: 30px;
}
.formacion__nombre, .formacion__detalle {
    line-height: 1.2rem;
    text-align: center;
}
/* ----------------PROYECTOS---------------- */
.proyectos__contenedor {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 5rem;
}
.proyectos__nombre{
    max-width: 300px;
}
.imagen__proyecto{
    width: 60%;
    border-radius: 20px;
    box-shadow: 10px 10px 0 rgba(97, 96, 96, 0.5);
}
.uno{
    flex-direction: row-reverse;
}
.imagen_dos{
    border: 2px solid #a0a0a0;
}
.opciones__de__proyecto {
    display: flex;
    gap: 25px;
}

.boton_repo, .boton_demo, .contacto__boton{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #2A7AE4;
    width: 116px;
    height: 51px;
    cursor: pointer;
    border: 2px solid #2A7AE4;
    border-radius: 5px;
}
.boton_demo, .contacto__boton {
   color: white;
   background-color: #2A7AE4; 
   border: 0;
   
}
.boton_demo:hover, .contacto__boton:hover {
    background-color: #488ce4; 
}
.boton_repo:hover {
    background-color: white;
}
/* ----------CONTACTO-------------------- */
.contacto {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: 152px;
    justify-content: space-between;
}
.contacto__container {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.contacto__titulo {
    margin-bottom: 0;
}
.contacto__formulario {
    display: flex;
    flex-direction: column;
}
.contacto__campo{
    width: 100%px;
    height: 56px;
    margin-bottom: 32px;
    border-radius: 5px;
    border: 0;
    padding-left: 20px;
}
.contacto__campo--textarea {
    padding-top: 15px;
    font-family: 'Raleway', sans-serif;
    height: 10rem;
}
.contacto__boton {
    margin-bottom: 2rem;
}


/* ----------------FOOTER---------------- */
footer {    
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: white;
}
/* ---------------PANTALLAS GRANDES----------------- */

@media (min-width: 1024px) {
    .cabecera__titulo {
        margin-left: 152px;
    }
    .presentacion__foto {
        margin: 32px 32px 32px 0;
    }
    
}


/* -----------------TABLETS-------------------------- */

@media (max-width: 1023px) and (min-width: 768px){

    /* -----------CABECERA----------- */
    .esconder {
        display: none;
    }
    .navegacion {
        margin-right: 30px;
    }
    .cabecera {
        justify-content: space-between;
    }
    .cabecera__titulo {
        font-size: 1.2rem;
        margin-left: 32px;
    }
    /* -----------PRESENTACION----------- */
    .presentacion__contenedor, .sobre-mi, .formacion, .aficiones{
        margin: 32px;
    }
    
    .presentacion {
        flex: 8;
    }
    .presentacion__foto {
        width: 25%;
        height: 25%;
        flex: 2;
        margin: 32px 32px 32px 0;
    }
    .presentacion__titulo {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    
    .presentacion__subtitulo {
        font-size: 1.2rem;
    }
    
    .redes {
        font-size: 1rem;
    }

    /* ---------HABILIDADES---------- */
    .habilidades, .aficiones, .proyectos, .contacto {
        margin: 32px;
    }
    .habilidades__lista, .aficiones__lista, .formacion__lista{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .habilidades__icono, .aficiones__icono {
        width: 4.5rem;
        height: 4.5rem;
    }
    /* ---------FORMACIÓN---------- */
    .formacion__lista {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /* ---------PROYECTOS---------- */
    .proyectos__contenedor {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }
    .imagen__proyecto {
        width: 100%;
    }
    .boton_repo , .boton_demo, .contacto__boton{
        font-size: 1.3rem;
        width: fit-content;
        padding: 0 20px;
    }
    .proyectos__descripcion,.proyectos__nombre {
        font-size: 1.2rem;
    }
    /* -------CONTACTO-------- */
    .contact__logo {
        display: none;
    }
    .contacto__container {
        width: 100%;
    }
}

/* -------------------------SMARTPHONES------------------------ */

@media (max-width: 767px) {

    /* -----------CABECERA----------- */
    .esconder {
        display: none;
    }
    .navegacion {
        margin-right: 30px;
    }
    .cabecera__titulo {
        font-size: 1rem;
        margin-left: 32px;
    }
    .cabecera {
        justify-content: space-between;
    }

    /* -----------PRESENTACION----------- */
    .presentacion {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    } 
    .presentacion__contenedor, .sobre-mi, .formacion, .aficiones, .contacto{
        margin: 0 32px 0 32px;
    }
    .presentacion__foto {
        margin-bottom: 0;   
    }
    .presentacion__titulo {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .presentacion__subtitulo {
        font-size: 1rem;
    }
    /* ----------HABILIDADES----------- */
    .habilidades, .aficiones, .proyectos {
        margin: 0 32px 0 32px;
    }
    .habilidades__lista, .aficiones__lista, .formacion__lista{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    .habilidades__icono, .aficiones__icono {
        width: 4rem;
        height: 4rem;
    }
    .habilidades__elemento, .aficiones__elemento {
        margin-bottom: 15px;
    }
    /* ----------FORMACIÓN----------- */  
    .formacion__lista {
        display: grid;
        grid-template-columns: 1fr;
    }
    .formacion__icono {
        width: 12rem;
    }
    /* ----------PROYECTOS------------ */
    .proyectos__contenedor {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }
    .imagen__proyecto {
        width: 100%;
    }
    .separador {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .proyectos__nombre {
        margin-bottom: 0;
        text-align: center;
    }
    .proyectos__descripcion {
        font-size: 1.2rem;
    }
    .opciones__de__proyecto {
        width: 100%;
        justify-content: space-between;
    }
    .boton_repo , .boton_demo{
        width: 45%;
        font-size: 1.3rem;
    }
    /* -------CONTACTO-------- */
    .contact__logo {
        display: none;
    }
    .contacto__container {
        width: 100%;
    }
    .contacto__boton {
        font-size: 1.2rem;
    }
}
